/*
 *
 *   INSPINIA Landing Page - Responsive Admin Theme
 *
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
/* GLOBAL STYLES
-------------------------------------------------- */
body {
  color: #777c80;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}
span.navy {
  color: #0094e7;
}
p.text-color {
  color: #777c80;
}
a.navy-link {
  color: #0094e7;
  text-decoration: none;
}
a.navy-link:hover {
  color: #0087d3;
}
section p {
  color: #777c80;
  font-size: 13px;
}
section ul li {
  color: #777c80;
  font-size: 13px;
}
address {
  font-size: 13px;
}
h1 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 200;
}
.navy-line {
  width: 60px;
  height: 1px;
  margin: 60px auto 0;
  margin: 40px auto 0;
  border-bottom: 2px solid #0094e7;
}
.navy-bg {
  background-color: #0094e7;
  color: #ffffff;
}
/* BACKGROUNDS SLIDER
-------------------------------------------------- */
.header-back {
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
}
.header-back.back-1 {
  background: url('../img/carousel/2d-reconstruction-of-dwntown-vancouver.jpg') 50% 0 no-repeat;
}
.header-back.back-2 {
  background: url('../img/carousel/apolonia-fortress_israel.jpg') 50% 0 no-repeat;
}
.header-back.back-3 {
  background: url('../img/carousel/assaria-kansas.jpg') 50% 0 no-repeat;
}
.header-back.back-4 {
  background: url('../img/carousel/azrieli_tel-aviv.jpg') 50% 0 no-repeat;
}
.header-back.back-5 {
  background: url('../img/carousel/beach_dead_sea.jpg') 50% 0 no-repeat;
}
.header-back.back-6 {
  background: url('../img/carousel/boats_in_dock.jpg') 50% 0 no-repeat;
}
.header-back.back-7 {
  background: url('../img/carousel/fort-riley_kansas.jpg') 50% 0 no-repeat;
}
.header-back.back-8 {
  background: url('../img/carousel/interchange.jpg') 50% 0 no-repeat;
}
.header-back.back-9 {
  background: url('../img/carousel/kawai_hawaii.jpg') 50% 0 no-repeat;
}
.header-back.back-10 {
  background: url('../img/carousel/planes_in_nir.jpg') 50% 0 no-repeat;
}
.header-back.back-11 {
  background: url('../img/carousel/port_walkway.jpg') 50% 0 no-repeat;
}
.header-back.back-12 {
  background: url('../img/carousel/tel-aviv-port_israel.jpg') 50% 0 no-repeat;
}
.header-back.back-13 {
  background: url('../img/carousel/tel-aviv_israel.jpg') 50% 0 no-repeat;
}
.header-back.back-14 {
  background: url('../img/carousel/vancouver_bc_canada_2.jpg') 50% 0 no-repeat;
}
.header-back.back-15 {
  background: url('../img/carousel/vancouver_bc_canada_3.jpg') 50% 0 no-repeat;
}
.header-back.back-16 {
  background: url('../img/carousel/west-vancouver_bc_canada.jpg') 50% 0 no-repeat;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  height: 400px;
}
.carousel .item > .container {
  height: 100%;
  position: relative;
}
.carousel .text {
  position: absolute;
  right: 0;
  bottom: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  z-index: 1000000;
  padding: 0 15px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=0, Color=@color)";
  text-shadow: 0 0 8px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color=#000000);
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}
.carousel-fade .carousel-inner .item {
  width: 100%;
  opacity: 0;
  display: block;
  position: absolute;
  -webkit-transition: all 2s;
  transition: all 2s;
}
.carousel-fade .carousel-inner .item.active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-control.left,
.carousel-control.right {
  background: none;
}
.carousel-control {
  width: 6%;
}
.carousel-inner {
  overflow: visible;
}
.carousel-caption {
  position: relative;
  top: 100px;
  left: 0;
  bottom: auto;
  right: auto;
  text-align: left;
}
.carousel-caption.blank {
  top: 140px;
}
.carousel-image {
  position: absolute;
  right: 10px;
  top: 150px;
}
.carousel-caption h1 {
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=0, Color=@color)";
  text-shadow: 0 0 8px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color=#000000);
}
.carousel-caption p {
  font-weight: 700;
  text-transform: uppercase;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=0, Color=@color)";
  text-shadow: 0 0 8px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color=#000000);
}
.caption-link {
  color: #fff;
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: 400;
}
.caption-link:hover {
  text-decoration: none;
  color: inherit;
}
/* Sections
------------------------- */
.services {
  padding-top: 60px;
}
.services h2 {
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 600;
  text-transform: uppercase;
}
.gray-section {
  background: #f4f4f4;
  margin-top: 60px;
}
.team-member {
  text-align: center;
}
.team-member img {
  margin: auto;
}
.social-icon a {
  background: #0094e7;
  color: #fff;
  padding: 4px 8px;
  height: 28px;
  width: 28px;
  display: block;
  border-radius: 50px;
}
.social-icon a:hover {
  background: #0087d3;
}
.img-small {
  height: 88px;
  width: 88px;
}
.big-icon {
  font-size: 56px;
}
.features .big-icon {
  color: #0094e7;
}
.contact {
  background-image: url('../img/word_map.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* Buttons - only primary custom button
------------------------- */
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}
.btn-primary {
  background-color: #0094e7;
  border-color: #0094e7;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 600;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #008ad8;
  border-color: #008ad8;
  color: #FFFFFF;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #00a1fb;
  border-color: #00a1fb;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .carousel-image {
    display: none;
  }
}
@media (max-width: 767px) {
  .carousel-caption,
  .carousel-caption.blank {
    top: 80px;
  }
  .carousel-caption h1 {
    font-size: 28px;
  }
  .carousel-control {
    display: none;
  }
}
/* MARGINS & PADDINGS
-------------------------------------------------- */
.p-xxs {
  padding: 5px;
}
.p-xs {
  padding: 10px;
}
.p-sm {
  padding: 15px;
}
.p-m {
  padding: 20px;
}
.p-md {
  padding: 25px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 40px;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.space-15 {
  margin: 15px 0;
}
.space-20 {
  margin: 20px 0;
}
.space-25 {
  margin: 25px 0;
}
.space-30 {
  margin: 30px 0;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav {
  margin: 0 -15px;
}
.navbar-default.navbar-scroll {
  background-color: #fff;
  border-color: #fff;
}
.navbar-default.navbar-scroll .nav li a {
  color: #777c80;
}
.navbar-default.navbar-scroll .nav li a.navy {
  color: #81d2ff;
}
.navbar-default.navbar-scroll .nav li a.navy:hover {
  color: #0084ce;
}
.navbar-default.navbar-scroll .nav li a:hover {
  color: #0094e7;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-brand {
  color: #fff;
  height: auto;
  display: block;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 0 0px 5px 5px;
  font-weight: 700;
  transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-brand .img-responsive {
  height: 50px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar-default .navbar-brand .nav li a {
  color: #777c80;
}
.navbar-default .navbar-brand .nav li a.navy {
  color: #81d2ff;
}
.navbar-default .navbar-brand .nav li a.navy:hover {
  color: #ceedff;
}
.navbar-default .nav li a {
  color: #fff;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar-nav > li > a {
  padding-top: 25px;
  border-top: 6px solid transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #fff;
  border-top: 6px solid #0094e7;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #0094e7;
}
.navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  color: #fff;
}
.navbar-default.navbar-scroll .navbar-nav > .active > a:focus {
  background: transparent;
  color: inherit;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-wrapper .navbar.navbar-scroll {
  padding-top: 0;
  border-bottom: 1px solid #e7eaec;
  border-radius: 0;
}
.nav > li > a {
  padding: 25px 10px 15px 10px;
}
@media (min-width: 768px) {
  .navbar-right {
    margin-right: -9px;
  }
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
  }
  .navbar-default .navbar-brand:hover {
    background-color: #fff;
  }
  .nav > li > a {
    padding: 25px 6px 15px 6px;
  }
  .navbar-default.navbar-scroll .nav li a {
    text-shadow: none;
  }
  .navbar-default.navbar-scroll .navbar-brand {
    padding-top: 0;
  }
  .navbar-default.navbar-scroll .navbar-brand .img-responsive {
    height: 77px;
  }
  .navbar-default .nav li a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=0, Color=#000000)";
    text-shadow: 0 0 8px #000000;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color=#000000);
  }
  .navbar-default .nav li a:hover {
    color: #ceedff;
  }
  .navbar-default .navbar-brand {
    background-color: #fff;
    padding: 0;
    padding-top: 26px;
    border-radius: 0;
  }
  .navbar-default .navbar-brand .img-responsive {
    height: 77px;
  }
}
@media (min-width: 992px) {
  .navbar-default .nav > li > a {
    padding: 25px 10px 15px 10px;
  }
  .navbar-default .navbar-brand {
    padding-top: 0;
  }
  .navbar-default .navbar-brand .img-responsive {
    height: 106px;
  }
}
@media (max-width: 767px) {
  .navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 15px 0;
  }
  .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: inherit;
  }
  .navbar-default .nav li a {
    color: #777c80;
  }
  .navbar-default .nav li a:hover {
    color: #0094e7;
  }
  .navbar-wrapper .navbar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #e7eaec;
    border-radius: 0;
  }
  .nav > li > a {
    padding: 25px 10px 15px 10px;
  }
  .navbar-nav > li > a {
    padding: 15px 10px;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover {
    color: inherit;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-default {
    background-color: #fff;
    border-color: #fff;
  }
  .navbar-default .container {
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  .navbar-default .navbar-brand {
    padding: 0 10px;
  }
  .navbar-default .navbar-brand .img-responsive {
    height: 50px!important;
  }
  .navbar-default .nav li a {
    color: #777c80;
    text-shadow: none;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover {
    color: inherit;
  }
  .navbar-default .navbar-nav > li > a:hover {
    color: #0094e7;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    max-height: 340px;
    margin-right: -15px;
    margin-left: -15px;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 0;
    width: 100%;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding: 15px 10px;
  }
  .collapse.in {
    display: block !important;
    overflow-y: auto !important;
  }
}
a {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.v-table {
  display: table;
  width: 100%;
  height: 100%;
}
.v-table .v-row {
  display: table-row;
  height: 100%;
}
.v-table .v-row .v-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.v-table .v-row .v-cell.bottom {
  vertical-align: bottom;
}
.v-table .v-row .v-cell.middle {
  vertical-align: middle;
}
.v-table .v-row .v-cell.top {
  vertical-align: top;
}
.dib {
  display: inline-block;
}
.o-hidden {
  overflow: hidden;
}
.home {
  padding-bottom: 30px;
}
.home h2 {
  font-size: 24px;
  font-weight: 100;
}
.home ul {
  padding: 0 17px;
}
.home ul li {
  font-weight: 100;
  padding: 5px 7px;
  font-size: 20px;
}
.software table tr,
.data table tr {
  height: 37px;
}
.contact a {
  color: #0094e7;
}
.contact .social-icon a {
  background: transparent;
  display: block;
  width: auto;
  height: 27px;
  text-decoration: underline;
  padding: 0;
}
.contact .social-icon a:hover i {
  background: #0087d3;
}
.contact .social-icon a i {
  background: #0094e7;
  color: #fff;
  display: inline-block;
  border-radius: 50px;
  height: 28px;
  width: 28px;
  padding: 6px 9px;
  margin-right: 5px;
}
.overview h2 {
  font-size: 22px;
  font-weight: 200;
  color: #0094e7;
}
.overview .text-point-l {
  text-align: left;
}
.overview .text-point-r {
  text-align: right;
}
.overview .v-table .v-row .v-cell {
  display: block;
}
@media (min-width: 768px) {
  .overview .v-table .v-row .v-cell {
    display: table-cell;
  }
}
@media (max-width: 767px) {
  .overview .text-point-r {
    text-align: center;
  }
  .overview .text-point-l {
    display: none;
  }
  .overview .v-table {
    margin-left: auto;
    margin-right: auto;
  }
  .contact h4 {
    margin-top: 40px;
  }
}
