.filter.wizard-filter {
  width: 260px;
  max-height: 100%;
  margin-top: 7px;
  .filter-body {
   /* max-height: none;
    height: 100%;*/
    .f1 {
      //height: 35%;
      //max-height: none;
    }
    .f2 {
      //height: 55%;
      //max-height: none;
    }
  }
  .filter-body ul.list-unstyled.filter-body-1 {
    //height: 76%;
    //max-height: none;
  }
  .filter-body ul.list-unstyled.filter-body-2 {
    //height: 89%;
    //max-height: none;
  }
}

ul.list-unstyled.filter-body-1 {
  max-height: 260px;
}
ul.list-unstyled.filter-body-2 {
  max-height: 297px;
}
.filter {
  width: auto;
}
.filter ul li label {
  font-size: 14px;
}
.filter .filter-header h4, .filter .filter-footer h4, .filter .chapter-header h4 {
  line-height: 36px;
}

.filter .filter-header button, .filter .filter-footer button, .filter .chapter-header button {
  top: 3px;
}