.filter.wizard-filter {
  width: 260px;
  max-height: 100%;
  //margin-top: 7px;
  .filter-body {
    max-height: none;
    .f1 {
      //height: 42%;
      max-height: none;
    }
    .f2 {
      //height: 54%;
      max-height: none;
      //padding-top: 20px;

    }
  }
  .filter-body ul.list-unstyled.filter-body-1 {
    //height: 88%;
    max-height: none;
    overflow: auto;
  }
  .filter-body ul.list-unstyled.filter-body-2 {
    //height: 90%;
    max-height: none;
    overflow: auto;
  }
}

/*ul.list-unstyled.filter-body-1 {
  max-height: 260px;
}
ul.list-unstyled.filter-body-2 {
  max-height: 297px;
}*/
.filter {
  width: auto;
}
.filter ul li label {
  font-size: 14px;
}
.filter .filter-header h4, .filter .filter-footer h4, .filter .chapter-header h4 {
  line-height: 36px;
}

.filter .filter-header button, .filter .filter-footer button, .filter .chapter-header button {
  top: 3px;
}

/*
@media (min-width: 1300px) {
  .filter.wizard-filter {
    .filter-body {
      .f2 {
        padding-top: 0;

      }
    }
  }
}*/
