.navbar-wizard {
  text-align: center;
  .container-fluid {
    max-width: 2000px;
  }
  .navbar-default .nav.navbar-nav > li.active > a {
    color: black;
    border-top: 6px solid transparent;
    &:hover {
      color: @navy;
    }
    .fa-angle-right {
      color: @navy;
    }
  }
  ul.nav {
    &>li {
      display: inline-block;
      &.dropdown {
        padding: 16px 0 0;
        &>a {
          font-weight: 600;
          padding: 15px 20px;
          color: @text-color;
          &:hover,&:focus {
            color: @navy;
            background-color: transparent;
          }
        }
      }
      .open > a,
      .open > a:hover,
      .open > a:focus {
        background-color: transparent;
        border-color: transparent;
      }
      ul.dropdown-menu {
        margin: 0;
        padding: 0;
        &> li > a {
          display: inline-block;
          width: 100%;
          margin: 0;
          padding: 10px 15px;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
  ul.nav-steps {
    width: 790px;
    &>li {
      position: relative;
      margin: 0 10px;
      &.disabled {
        a {
          color: lighten(@text-gray-color,25%)!important;
        }
        .fa-angle-right {
          color: lighten(@text-gray-color,25%);
        }
      }
      &.available {
        a:hover {
          .fa-angle-right {
            color: @navy;
          }
        }
        .fa-angle-right {
          color: black;
        }
      }
      &.active {
        a:hover {
          .fa-angle-right {
            color: @navy;
          }
        }
        .fa-angle-right {
          color: black;
        }
      }
      /*&.next {
        a {
          color: @navy!important;
        }
      }*/
     /* &.available.active {
        .fa-angle-right {
          color: black;
        }
      }*/
      .fa-angle-right {
        position: absolute;
        top: 3px;
        right: -14px;
        font-size: 58px;
        color: @navy;
      }
    }
  }

  ul.nav-pills {
    display: inline-block;
    padding: 19px 10px 0 10px;
  }
  .nav-pills > li {
    padding: 0px 7px;
    color: white !important;
  }

  .nav-pills > li > a {
    background: @navy;
    color: white !important;
  }

  .nav-pills > li > a:hover {
    background: #bbb !important;
  }

  .nav-pills > li.active > a {
    background: @navy;
    color: white;
  }

  .nav-pills > li.active > a:hover {
    background: @navy !important;
  }

  .nav-pills > li.available > a {
    background: lighten(@navy,20%);
  }

  .nav-pills > li.available > a:hover {
    background: @navy !important;
  }
}