@import "navbar-wizard";
@import "brands-carousel-wizard";
.wrapper-wizard-content {
  padding: 273px 0;
  position: relative;
  .container.white-bg.layer-bg {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
  }
  .top-table-back-layer {
    //border-bottom: 1px solid #ddd;
    background-color: #fff;
    height: 98px;
    top: 282px;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
    z-index: 2;
  }
  .table {
    margin-top: 55px;
  }
  .table-btns {
    position: absolute;
    right: -597px;
    top: 7px;
  }
  .col-md-9 {
    position: relative;
  }

}
.wizard-body {
  padding: 0 30px;
}
.wizard-header {
  padding: 0 40px;
  position: fixed;
  top: 208px;
  left: 0;
  right: 0;
  border-top: 20px solid @bg-light-gray;
  z-index: 1;
}

.wizard-filter {
  position: fixed;
  margin-top: 10px;
}
.app-search-form {
  margin: 10px 0;
  position: fixed;
  z-index: 3;
}
.nav-tabs-row {
  position: fixed;
  z-index: 3;
  top: 284px;
  background-color: #fff;
}
.tabs-app-container {
  position: relative;
  .apps-amount {
    position: absolute;
    top: 12px;
    left: 303px;
    width: 230px;
  }
}


ul.list-unstyled.filter-body-1 {
  max-height: 260px;
}
ul.list-unstyled.filter-body-2 {
  max-height: 297px;
}
.filter {
  width: auto;
}
.filter ul li label {
  font-size: 14px;
}
.filter .filter-header h4, .filter .filter-footer h4, .filter .chapter-header h4 {
  line-height: 36px;
}

.filter .filter-header button, .filter .filter-footer button, .filter .chapter-header button {
  top: 3px;
}


td.price-td {
  width: 215px;
}

.packages .added {
  background-color: #eee;
}
.table, .table-btns {
  .btn-primary {
    padding: 6px 12px!important;
  }
}
.table, .table-btns {
  .btn-primary {
    padding: 6px 12px!important;
  }
}
td.image-td {
  width: 57px !important;
}

.packages {
  padding-top: 56px;
}

.packages h1 {
  text-align: center;
}

.packages h2 {
  margin-top: 0;
  font-size: 130%;
}

.packages img {
  width: 57px;
  display: block;
}

.packages .size {
  text-align: center;
  font-size: 110%;
  margin: 5px;
}

