.container.white-bg.white-bg-back {
  position: fixed;
  top:78px;
  bottom: 75px;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #fff;
}
.wrapper-wizard-content {
  position: fixed;
  top:78px;
  bottom: 75px;
  left: 0;
  right: 0;
  z-index: 1;
  height: 0;
  h4 small {
    font-size: 70%;
  }
}
.row.wizard-row {
  padding: 0 30px;
  background-color: #fff;
}

.nav-tabs-row {
  margin-top: 20px;
}
.tabs-app-container {
  position: relative;
  .apps-amount {
    font-size: 14px;
  }
}


ul.list-unstyled.filter-body-1 {
  max-height: 260px;
}
ul.list-unstyled.filter-body-2 {
  max-height: 297px;
}
.filter {
  width: auto;
}
.filter ul li label {
  font-size: 14px;
}
.filter .filter-header h4, .filter .filter-footer h4, .filter .chapter-header h4 {
  line-height: 36px;
}

.filter .filter-header button, .filter .filter-footer button, .filter .chapter-header button {
  top: 3px;
}


td.price-td {
  width: 215px;
  .btn {
    background-color: @navy;
    color: #fff;
    .transition();
    &:hover {
      background-color: darken(@navy,5%);
    }
    &.btn-success {
      background-color: #5cb85c!important;
      &:hover {
        background-color: #449d44!important;
      }
    }

  }
}



.packages .added {
  background-color: #eee;
}
.table, .table-btns {
  .btn-primary {
    padding: 6px 12px!important;
  }
}
.table, .table-btns {
  .btn-primary {
    padding: 6px 12px!important;
  }
}
td.image-td {
  width: 57px !important;
}

/*.packages {
  padding-top: 20px;
}*/

.packages h1 {
  text-align: center;
}

.packages h2 {
  margin-top: 0;
  font-size: 130%;
}

.packages img {
  width: 57px;
  display: block;
}

.packages .size {
  text-align: center;
  font-size: 110%;
  margin: 5px;
}

