.vue-tooltip {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #c3e7ff;
  border: 1px solid black;
  .table  {
    margin: 0;
    td {
      padding: 7px 10px;
      line-height: 15px;
    }
  }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid transparent;
  }
  .table > tbody > tr > th {
    border-top: 1px solid black;
  }
}
.vue-tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-bottom-color: black;
}
.vue-tooltip[x-placement^="top"] .tooltip-arrow {
  border-top-color: transparent;
}